# Data Tidying

Real data can be messy and as we know low quality data leads to low quality results. Making the data more organized, and readable is the result of applying data tidying. We want to structure our data in a way that makes it easy to analyze and use.

Part of the data engineering process is data cleaning and tidying. What is done in those two processes, is trying to make the data more readable, and complete. This makes much easier to analyze, visualize, and train the data.

![data_cleaning.JPG]()



When the following are satisfied:


1. Each variable forms a column
2. Each observation forms a row
3. The measurement units are consistent wihtin a column.
4. Cells contain atomic values. (No multiple valuer per table cell)

We can then say that our dataset is *tidy*.

In this section two main `pandas` functions are used in data tidying those are `melt` and `pivot_table`.

In [1]:
import pandas as pd

### **PEW Research Dataset**

Let's start by taking a look at the below dataframe, which represents the income ranges based on religion. This is part of the PEW research, which is famous in the US for conducting pollings and surveys on citizens.

1. Start by Importing the dataset into a pandas dataframe.

In [2]:
df_pew_research =  pd.read_csv('https://raw.githubusercontent.com/raneemsultan/Data-Engineering-W21/main/Lab7/PEW.csv')

2. Observe the dataset using the `loc`, `iloc`, `head`, or `tail` approaches

In [3]:
df_pew_research.iloc[0:]

                   religion   <$10k   $10-20k  ...  $30-40k   $40-50k  $50-75k
0                  Agnostic      27        34  ...       81        76      137
1                   Atheist      12        27  ...       52        35       70
2                  Buddhist      27        21  ...       34        33       58
3                  Catholic     418       617  ...      670       638     1116
4         Dont know/refused      15        14  ...       11        10       35
5         Evangelical Prot      575       869  ...      982       881     1486
6                    Hindu        1         9  ...        9        11       34
7  Historically Black Prot      228       244  ...      238       197      223
8         Jehovahs Witness       20        27  ...       24        21       30
9                   Jewish       19        19  ...       25        30       95

[10 rows x 7 columns]

***What does not seem right in the above dataframe?***

3. Try to make the column headers represent a variable not a value. For that, use the `melt` function. The `melt` function converts a DataFrame from wide format to long format. The arguments are as follows:


1.  `id_vars`: column(s) to use as identifier variable(s)
2.   `values`: columns(s) to unpivot. If unspecified, uses all columns that are not in `id_vars`.
3. `var_name`: name to use for the varible columns
4. `value_name`: name to use for the value column.

In [4]:
pd.melt(df_pew_research,id_vars=["religion"],var_name="income range", value_name="citizens count")

                    religion income range  citizens count
0                   Agnostic        <$10k              27
1                    Atheist        <$10k              12
2                   Buddhist        <$10k              27
3                   Catholic        <$10k             418
4          Dont know/refused        <$10k              15
5          Evangelical Prot         <$10k             575
6                     Hindu         <$10k               1
7   Historically Black Prot         <$10k             228
8          Jehovahs Witness         <$10k              20
9                    Jewish         <$10k              19
10                  Agnostic      $10-20k              34
11                   Atheist      $10-20k              27
12                  Buddhist      $10-20k              21
13                  Catholic      $10-20k             617
14         Dont know/refused      $10-20k              14
15         Evangelical Prot       $10-20k             869
16                    Hindu       $10-20k               9
17  Historically Black Prot       $10-20k             244
18         Jehovahs Witness       $10-20k              27
19                   Jewish       $10-20k              19
20                  Agnostic      $20-30k              60
21                   Atheist      $20-30k              37
22                  Buddhist      $20-30k              30
23                  Catholic      $20-30k             732
24         Dont know/refused      $20-30k              15
25         Evangelical Prot       $20-30k            1064
26                    Hindu       $20-30k               7
27  Historically Black Prot       $20-30k             236
28         Jehovahs Witness       $20-30k              24
29                   Jewish       $20-30k              25
30                  Agnostic      $30-40k              81
31                   Atheist      $30-40k              52
32                  Buddhist      $30-40k              34
33                  Catholic      $30-40k             670
34         Dont know/refused      $30-40k              11
35         Evangelical Prot       $30-40k             982
36                    Hindu       $30-40k               9
37  Historically Black Prot       $30-40k             238
38         Jehovahs Witness       $30-40k              24
39                   Jewish       $30-40k              25
40                  Agnostic      $40-50k              76
41                   Atheist      $40-50k              35
42                  Buddhist      $40-50k              33
43                  Catholic      $40-50k             638
44         Dont know/refused      $40-50k              10
45         Evangelical Prot       $40-50k             881
46                    Hindu       $40-50k              11
47  Historically Black Prot       $40-50k             197
48         Jehovahs Witness       $40-50k              21
49                   Jewish       $40-50k              30
50                  Agnostic      $50-75k             137
51                   Atheist      $50-75k              70
52                  Buddhist      $50-75k              58
53                  Catholic      $50-75k            1116
54         Dont know/refused      $50-75k              35
55         Evangelical Prot       $50-75k            1486
56                    Hindu       $50-75k              34
57  Historically Black Prot       $50-75k             223
58         Jehovahs Witness       $50-75k              30
59                   Jewish       $50-75k              95

### **Billboard Dataset**

This dataset outlines data about the top hit songs on the Billboard list.

1. Read the dataset and store it in a pandas dataframe. Note that the usual utf-8 encoding does not work on this dataset. The reason behind this is that there might be characters that are not supported by `utf-8`. The suggestion is to use for this dataset `unicode_escape` encoding.

In [30]:
df_billboard = pd.read_csv('https://raw.githubusercontent.com/raneemsultan/Data-Engineering-W21/main/Lab7/Billboard.csv',encoding="unicode_escape")

2. Observe the first few rows of the dataset.

In [31]:
df_billboard.head(30)

    year      artist.inverted  ... x75th.week x76th.week
0   2000      Destiny's Child  ...        NaN        NaN
1   2000              Santana  ...        NaN        NaN
2   2000        Savage Garden  ...        NaN        NaN
3   2000              Madonna  ...        NaN        NaN
4   2000  Aguilera, Christina  ...        NaN        NaN
5   2000                Janet  ...        NaN        NaN
6   2000      Destiny's Child  ...        NaN        NaN
7   2000    Iglesias, Enrique  ...        NaN        NaN
8   2000                Sisqo  ...        NaN        NaN
9   2000             Lonestar  ...        NaN        NaN
10  2000               N'Sync  ...        NaN        NaN
11  2000  Aguilera, Christina  ...        NaN        NaN
12  2000     Vertical Horizon  ...        NaN        NaN
13  2000                Creed  ...        NaN        NaN
14  2000              Aaliyah  ...        NaN        NaN
15  2000      matchbox twenty  ...        NaN        NaN
16  2000        Carey, Mariah  ...        NaN        NaN
17  2000          Hill, Faith  ...        NaN        NaN
18  2000                  Mya  ...        NaN        NaN
19  2000                Dream  ...        NaN        NaN
20  2000        Braxton, Toni  ...        NaN        NaN
21  2000        Anthony, Marc  ...        NaN        NaN
22  2000                98ï¿½  ...        NaN        NaN
23  2000      Destiny's Child  ...        NaN        NaN
24  2000         3 Doors Down  ...        NaN        NaN
25  2000                Sisqo  ...        NaN        NaN
26  2000  Aguilera, Christina  ...        NaN        NaN
27  2000     Houston, Whitney  ...        NaN        NaN
28  2000                  Joe  ...        NaN        NaN
29  2000      Jordan, Montell  ...        NaN        NaN

[30 rows x 83 columns]

***What is wrong with the above dataset?***

3. Let's, again, use the `melt` function to fix the general structure of the dataframe.

In [32]:
#Which columns do I want to keep, as they are? 
id_vars=['year',	'artist.inverted',	'track',	'time',	'genre',	'date.entered',	'date.peaked']
df_billboard = pd.melt(df_billboard,id_vars=id_vars,var_name='Week', value_name='Rank')

In [33]:
df_billboard

       year      artist.inverted  ...        Week  Rank
0      2000      Destiny's Child  ...   x1st.week  78.0
1      2000              Santana  ...   x1st.week  15.0
2      2000        Savage Garden  ...   x1st.week  71.0
3      2000              Madonna  ...   x1st.week  41.0
4      2000  Aguilera, Christina  ...   x1st.week  57.0
...     ...                  ...  ...         ...   ...
24087  2000     Ghostface Killah  ...  x76th.week   NaN
24088  2000          Smith, Will  ...  x76th.week   NaN
24089  2000        Zombie Nation  ...  x76th.week   NaN
24090  2000       Eastsidaz, The  ...  x76th.week   NaN
24091  2000               Fragma  ...  x76th.week   NaN

[24092 rows x 9 columns]

If we inspect the current dataframe. We find that it is structured in a better way than before. 

However, the ***Week*** column looks a bit ugly!

4. Let's try to place only the week number in that column without the extras surronding it.

In [34]:
df_billboard['Week'] = df_billboard['Week'].str.extract('(\d+)', expand=False) #this regular expression extracts the digits from the string

5. Now let's inspect the ***Week*** column in the dataframe.

In [35]:
df_billboard.head()

   year      artist.inverted  ... Week  Rank
0  2000      Destiny's Child  ...    1  78.0
1  2000              Santana  ...    1  15.0
2  2000        Savage Garden  ...    1  71.0
3  2000              Madonna  ...    1  41.0
4  2000  Aguilera, Christina  ...    1  57.0

[5 rows x 9 columns]

Next, let's try to find the date at which the song ranked the number that is shown per row.

6. To do that let's first think of the equation that is going to get us the relevant date at which the song ranked the *rth*.

In [36]:
#date_at_current_peak = date.entered + week 

# Let's make sure that the Week column is numeric.
df_billboard['Week'] = df_billboard['Week'].astype(int)

df_billboard['Rank Date'] = pd.to_datetime(df_billboard['date.entered'] )+ pd.to_timedelta(df_billboard['Week'], unit='W') - pd.DateOffset(weeks=1)
df_billboard.head()

   year      artist.inverted  ...  Rank  Rank Date
0  2000      Destiny's Child  ...  78.0 2000-09-23
1  2000              Santana  ...  15.0 2000-02-12
2  2000        Savage Garden  ...  71.0 1999-10-23
3  2000              Madonna  ...  41.0 2000-08-12
4  2000  Aguilera, Christina  ...  57.0 2000-08-05

[5 rows x 10 columns]

*Timedeltas are absolute differences in times, expressed in difference units (e.g. days, hours, minutes, seconds). This method converts an argument from a recognized timedelta format / value into a Timedelta type.*

7. Let's only keep necessary columns

In [37]:
df_billboard = df_billboard[['year','artist.inverted','track','time','genre','date.peaked','Rank','Rank Date']]

In [38]:
df_billboard.head()

   year      artist.inverted  ...  Rank  Rank Date
0  2000      Destiny's Child  ...  78.0 2000-09-23
1  2000              Santana  ...  15.0 2000-02-12
2  2000        Savage Garden  ...  71.0 1999-10-23
3  2000              Madonna  ...  41.0 2000-08-12
4  2000  Aguilera, Christina  ...  57.0 2000-08-05

[5 rows x 8 columns]

8. How to rename your columns?

In [39]:
df_billboard = df_billboard.rename(columns={'year':'Year','artist.inverted':'Artist LN-FN','track':'Track','time':'Time','genre':'Genre', 'date.peaked': 'Date Peaked'})

Display the dataframe

In [40]:
df_billboard

       Year         Artist LN-FN  ...  Rank  Rank Date
0      2000      Destiny's Child  ...  78.0 2000-09-23
1      2000              Santana  ...  15.0 2000-02-12
2      2000        Savage Garden  ...  71.0 1999-10-23
3      2000              Madonna  ...  41.0 2000-08-12
4      2000  Aguilera, Christina  ...  57.0 2000-08-05
...     ...                  ...  ...   ...        ...
24087  2000     Ghostface Killah  ...   NaN 2002-01-12
24088  2000          Smith, Will  ...   NaN 2001-07-21
24089  2000        Zombie Nation  ...   NaN 2002-02-09
24090  2000       Eastsidaz, The  ...   NaN 2001-12-08
24091  2000               Fragma  ...   NaN 2002-04-06

[24092 rows x 8 columns]

In the above dataframe, there are some *NaN* values. What are we going to do?
9. Apply quick data cleaning and then observe the dataset

In [41]:
df_billboard = df_billboard.dropna()

In [42]:
df_billboard

       Year         Artist LN-FN  ...  Rank  Rank Date
0      2000      Destiny's Child  ...  78.0 2000-09-23
1      2000              Santana  ...  15.0 2000-02-12
2      2000        Savage Garden  ...  71.0 1999-10-23
3      2000              Madonna  ...  41.0 2000-08-12
4      2000  Aguilera, Christina  ...  57.0 2000-08-05
...     ...                  ...  ...   ...        ...
19663  2000             Lonestar  ...  45.0 2000-08-12
19700  2000                Creed  ...  50.0 2000-11-18
19980  2000             Lonestar  ...  50.0 2000-08-19
20017  2000                Creed  ...  50.0 2000-11-25
20334  2000                Creed  ...  49.0 2000-12-02

[5307 rows x 8 columns]

The below images shows the difference between the dataset post-tidying and pre-tidying:

![tidying.JPG]()

### **Tuberculosis Dataset**

***Important Note: *** The Tuberculosis dataset exercise is similar to what we have done in the billboard dataset. The only difference is in the process of using the `extract` function, which in Tuberculosis dataset will return a dataframe not a series regardless of the `expand` argument. That is because, we are extracting 3 different groups using regex expression, each will be returned in a series within a dataframe.

This dataset outlines the number of tuberculosis patients in different countries in the year 2000.

A few notes on the raw data set:

- The columns starting with "m" or "f" contain multiple variables: 
    - Sex ("m" or "f")
    - Age Group ("0-14","15-24", "25-34", "45-54", "55-64", "65", "unknown")
- Mixture of 0s and missing values("NaN"). This is due to the data collection process and the distinction is important for this dataset.

1. Read the CSV

In [43]:
df_tuberculosis = pd.read_csv("https://raw.githubusercontent.com/raneemsultan/Data-Engineering-W21/main/Lab7/tb.csv")

Observe the rows of the dataset

In [44]:
df_tuberculosis

  country  year   m014  m1524   m2534  m3544  m4554  m5564    m65  mu   f014
0      AD  2000    0.0    0.0     1.0    0.0      0      0    0.0 NaN    NaN
1      AE  2000    2.0    4.0     4.0    6.0      5     12   10.0 NaN    3.0
2      AF  2000   52.0  228.0   183.0  149.0    129     94   80.0 NaN   93.0
3      AG  2000    0.0    0.0     0.0    0.0      0      0    1.0 NaN    1.0
4      AL  2000    2.0   19.0    21.0   14.0     24     19   16.0 NaN    3.0
5      AM  2000    2.0  152.0   130.0  131.0     63     26   21.0 NaN    1.0
6      AN  2000    0.0    0.0     1.0    2.0      0      0    0.0 NaN    0.0
7      AO  2000  186.0  999.0  1003.0  912.0    482    312  194.0 NaN  247.0
8      AR  2000   97.0  278.0   594.0  402.0    419    368  330.0 NaN  121.0
9      AS  2000    NaN    NaN     NaN    NaN      1      1    NaN NaN    NaN

3. Use the `melt` function to fix the structure of the dataset

In [45]:
id_vars = ["country","year"]
df_tuberculosis =pd.melt(df_tuberculosis,id_vars=id_vars, var_name='Gender/Age',value_name='Count')

In [46]:
df_tuberculosis.head()

  country  year Gender/Age  Count
0      AD  2000       m014    0.0
1      AE  2000       m014    2.0
2      AF  2000       m014   52.0
3      AG  2000       m014    0.0
4      AL  2000       m014    2.0

4. Extract the gender - lower age bound - upper age bound using regex

In [47]:
df_tuberculosis_temp = df_tuberculosis['Gender/Age'].str.extract('(\D)(\d+)(\d{2})')
# non digit - one more more digits / exactly 2 digits

In [48]:
df_tuberculosis_temp

    0  1   2
0   m  0  14
1   m  0  14
2   m  0  14
3   m  0  14
4   m  0  14
.. .. ..  ..
85  f  0  14
86  f  0  14
87  f  0  14
88  f  0  14
89  f  0  14

[90 rows x 3 columns]

5. Change the column names

In [49]:
df_tuberculosis_temp.columns=["gender","lower_age","upper_age"]

In [144]:
df_tuberculosis_temp

   gender lower_age upper_age Age Range
0       m         0        14      0-14
1       m         0        14      0-14
2       m         0        14      0-14
3       m         0        14      0-14
4       m         0        14      0-14
..    ...       ...       ...       ...
85      f         0        14      0-14
86      f         0        14      0-14
87      f         0        14      0-14
88      f         0        14      0-14
89      f         0        14      0-14

[90 rows x 4 columns]

6. Merge the lower and upper age columns together and separate them by a dash `-` .

In [50]:
df_tuberculosis_temp["Age Range"] = df_tuberculosis_temp['lower_age'].astype(str) +"-"+ df_tuberculosis_temp['upper_age'].astype(str)

7. Now, use a function to merge both datasets together: `df_tuberculosis_temp` and `df_tuberculosis`

In [145]:
result = pd.concat([df_tuberculosis, df_tuberculosis_temp],axis=1) #axis =1 means merge the columns together
final_tuberculosis = result[["country","year","gender","Age Range","Count"]]
final_tuberculosis.head(20)

   country  year gender Age Range  Count
0       AD  2000      m      0-14    0.0
1       AE  2000      m      0-14    2.0
2       AF  2000      m      0-14   52.0
3       AG  2000      m      0-14    0.0
4       AL  2000      m      0-14    2.0
5       AM  2000      m      0-14    2.0
6       AN  2000      m      0-14    0.0
7       AO  2000      m      0-14  186.0
8       AR  2000      m      0-14   97.0
9       AS  2000      m      0-14    NaN
10      AD  2000      m     15-24    0.0
11      AE  2000      m     15-24    4.0
12      AF  2000      m     15-24  228.0
13      AG  2000      m     15-24    0.0
14      AL  2000      m     15-24   19.0
15      AM  2000      m     15-24  152.0
16      AN  2000      m     15-24    0.0
17      AO  2000      m     15-24  999.0
18      AR  2000      m     15-24  278.0
19      AS  2000      m     15-24    NaN

### **Weather Dataset**

In this dataset, variables are stored in both rows and columns. `tmax` and `tmin` stand for max and min temperatures for each day. The day is being spread across multiple columns. We need the data to represent min and max temperatures per date.

1. Read dataset into panadas dataframe

In [146]:
weather_df = pd.read_csv('https://raw.githubusercontent.com/raneemsultan/Data-Engineering-W21/main/Lab7/weather.csv')

2. Observe the rows

In [147]:
weather_df

         id  year  month element  d1    d2    d3  d4    d5  d6  d7  d8
0   MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN NaN NaN
1   MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN NaN NaN
2  MX17004   2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN NaN NaN
3   MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN NaN NaN
4   MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN NaN NaN
5   MX17004  2010      3    tmin NaN   NaN   NaN NaN  14.2 NaN NaN NaN
6   MX17004  2010      4    tmax NaN   NaN   NaN NaN   NaN NaN NaN NaN
7   MX17004  2010      4    tmin NaN   NaN   NaN NaN   NaN NaN NaN NaN
8   MX17004  2010      5    tmax NaN   NaN   NaN NaN   NaN NaN NaN NaN
9   MX17004  2010      5    tmin NaN   NaN   NaN NaN   NaN NaN NaN NaN

Notice that the dataset is full of `NaN` values. In addition its structure is messed up! Let's fix the structure first.

3. Use the `melt` function.

In [148]:
id_vars = ['id','year','month','element']
weather_df= pd.melt(weather_df, id_vars=id_vars,value_name="degree",var_name='day_raw')

4. Observe the melted dataframe.

In [149]:
weather_df

          id  year  month element day_raw  degree
0    MX17004  2010      1    tmax      d1     NaN
1    MX17004  2010      1    tmin      d1     NaN
2   MX17004   2010      2    tmax      d1     NaN
3    MX17004  2010      2    tmin      d1     NaN
4    MX17004  2010      3    tmax      d1     NaN
..       ...   ...    ...     ...     ...     ...
75   MX17004  2010      3    tmin      d8     NaN
76   MX17004  2010      4    tmax      d8     NaN
77   MX17004  2010      4    tmin      d8     NaN
78   MX17004  2010      5    tmax      d8     NaN
79   MX17004  2010      5    tmin      d8     NaN

[80 rows x 6 columns]

5. The issue of the `NaN` values still stands. How can we fix it?

In [150]:
weather_df = weather_df.copy().dropna() #copy, so that you do not deal with view

In [151]:
weather_df

          id  year  month element day_raw  degree
12  MX17004   2010      2    tmax      d2    27.3
13   MX17004  2010      2    tmin      d2    14.4
22  MX17004   2010      2    tmax      d3    24.1
23   MX17004  2010      2    tmin      d3    14.4
44   MX17004  2010      3    tmax      d5    32.1
45   MX17004  2010      3    tmin      d5    14.2

6. Next, let's extract the day digit from the `day_raw` column. Make sure to change the column to be numeric, as we are going to use it to calculate the date.

In [152]:
weather_df['day_numeric'] = weather_df['day_raw'].str.extract('(\d+)',expand=False).astype(int)

7. Observe the dataframe

In [153]:
weather_df

          id  year  month element day_raw  degree  day_numeric
12  MX17004   2010      2    tmax      d2    27.3            2
13   MX17004  2010      2    tmin      d2    14.4            2
22  MX17004   2010      2    tmax      d3    24.1            3
23   MX17004  2010      2    tmin      d3    14.4            3
44   MX17004  2010      3    tmax      d5    32.1            5
45   MX17004  2010      3    tmin      d5    14.2            5

8. Check that the year and month columns are numeric

In [154]:
weather_df.dtypes

id              object
year             int64
month            int64
element         object
day_raw         object
degree         float64
day_numeric      int64
dtype: object

9. Import the `datetime` library
10. Use the `day_numeric`, `month`, and `year` columns to create the date column using the `apply` function along with `lambda`.

In [155]:
import datetime

In [156]:
weather_df['date'] =weather_df.apply(lambda row: datetime.date(year = row['year'],month = row['month'],day=row['day_numeric']),axis=1)

11. Observe the dataset

In [157]:
weather_df

          id  year  month element day_raw  degree  day_numeric        date
12  MX17004   2010      2    tmax      d2    27.3            2  2010-02-02
13   MX17004  2010      2    tmin      d2    14.4            2  2010-02-02
22  MX17004   2010      2    tmax      d3    24.1            3  2010-02-03
23   MX17004  2010      2    tmin      d3    14.4            3  2010-02-03
44   MX17004  2010      3    tmax      d5    32.1            5  2010-03-05
45   MX17004  2010      3    tmin      d5    14.2            5  2010-03-05

12. Drop unnecessary columns and observe the dataframe

In [158]:
weather_df = weather_df.copy().drop(['day_raw','day_numeric','year','month'],axis=1)

In [159]:
weather_df

          id element  degree        date
12  MX17004     tmax    27.3  2010-02-02
13   MX17004    tmin    14.4  2010-02-02
22  MX17004     tmax    24.1  2010-02-03
23   MX17004    tmin    14.4  2010-02-03
44   MX17004    tmax    32.1  2010-03-05
45   MX17004    tmin    14.2  2010-03-05

Alright, this seems like a much cleaner and tider dataset. Nevertheless, the `element` column contains only 2 values, `tmax` and `tmin`, and they aren't really "values". They are more of variables for each day. So why not create a column for each of them?

Previously, we wanted to melt the columns to make them values within the dataset. What we want to do now, is change the values within the column to column heading. For that use the `pivot_table` function.

The `pivot_table` takes 3 main arguments: `index`, `columns`, `values`.

In [107]:
weather_df['id']="MX17004"# I have one id 
pd.pivot_table(weather_df,index=["id","date"], columns="element",values="degree") #Populate the new tmin and tmax with value = degree

element             tmax  tmin
id      date
MX17004 2010-02-02  27.3  14.4
        2010-02-03  24.1  14.4
        2010-03-05  32.1  14.2

In [126]:
#to reset the index
weather_df2 = pd.pivot_table(weather_df,index=["id","date"], columns="element",values="degree") #Populate the new tmin and tmax with value = degree
weather_df2.reset_index(inplace=True)

In [133]:
weather_df2

element       id        date  tmax  tmin
0        MX17004  2010-02-02  27.3  14.4
1        MX17004  2010-02-03  24.1  14.4
2        MX17004  2010-03-05  32.1  14.2

In order to remove the title of the index we can use the `rename_axis` method.It set the name of the axis for the index or columns.

In [134]:
weather_df2.rename_axis(None, axis=1, inplace=True)

In [135]:
weather_df2

        id        date  tmax  tmin
0  MX17004  2010-02-02  27.3  14.4
1  MX17004  2010-02-03  24.1  14.4
2  MX17004  2010-03-05  32.1  14.2

### **Tidying DataFrame Exercise**

The [GapMinder dataset](https://raw.githubusercontent.com/raneemsultan/Data-Engineering-W21/main/Lab7/gapminder.csv) includes information about the life expectancy, the GDP per capita, and the population of various countries between the years 1952 and 2007.

Import the dataset, investigate it to identify what the potential attributes should be, the problems with the current structure, and think of how to tidy the dataset, and then proceed to tidy the dataset.

In [ ]:
#You solution here

#Feature Engineering

Feature Engineering is creating new features or representing them in a different way that is going to aid the ML model, or facilitate the analytics process. Feature engineering has two goals:


1.   Preparing the proper input dataset, compatible with the maching learning algorithm requirements.
2.   Improving the performance of machine learning models.



There are several approaches to engineer features. Previously, in [Lab 5](https://github.com/raneemsultan/Data-Engineering-W21/blob/main/Lab5/Lab_5.ipynb), we have discussed the below methodologies:

1. Label Encoding
2. One-Hot Encoding
3. Discretization
4. Scaling

Now let's try to use a new approach of feature engineering. That is use the existing columns to compute a third column. That is of a good use to us.

Take a look at the below dataset.

In [136]:
df_weights_heights = pd.read_csv('https://gist.githubusercontent.com/nstokoe/7d4717e96c21b8ad04ec91f361b000cb/raw/bf95a2e30fceb9f2ae990eac8379fc7d844a0196/weight-height.csv')

In [137]:
df_weights_heights.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

It seems like the height is in **inches** and the weight is in **pounds**.

Now let's try to create a column that holds the BMI of each record.



*   BMI	=	body mass index
*   m	=	mass (in kilograms)
*   h	=	height (in meters)

Since the height should be in meters, let's convert the height column from inch to meters

In [138]:
df_weights_heights['Height'] = df_weights_heights['Height'] *0.0254

And since the weight is in pounds let's change it to kgs.

In [139]:
df_weights_heights['Weight'] = df_weights_heights['Weight'] *0.453592

### Interaction Feature
Next, we need to compute the BMI = mass/height^2. Since we are using a  combination of two or more features, which can be a product, sum, or difference, then we are engineering an interaction feature.

In [140]:
df_weights_heights['BMI'] = (df_weights_heights['Weight'])/(df_weights_heights['Height']**2)

In [141]:
df_weights_heights.head()

  Gender    Height      Weight        BMI
0   Male  1.875714  109.720985  31.185761
1   Male  1.747060   73.622732  24.121044
2   Male  1.882397   96.497550  27.232906
3   Male  1.821967   99.809504  30.067059
4   Male  1.774998   93.598619  29.708033

### Indicator Feature 
Now that we have a new meaningful feature BMI. Let's create an indicator feature that tells us whether the person is overweight or not based on a threshold.

In [142]:
df_weights_heights['Obesity Indicator'] = (df_weights_heights['BMI'] >= 25)*1

In [143]:
df_weights_heights.sample(30)

      Gender    Height      Weight        BMI  Obesity Indicator
1123    Male  1.620799   75.505395  28.742186                  1
6340  Female  1.658885   61.885549  22.488301                  0
7052  Female  1.617078   60.008204  22.948194                  0
5669  Female  1.650939   56.185729  20.614073                  0
4830    Male  1.798276   89.987210  27.827107                  1
6222  Female  1.633648   65.253550  24.450456                  0
7938  Female  1.698205   69.404604  24.066226                  0
7098  Female  1.690137   68.479400  23.972664                  0
4297    Male  1.958362  109.068624  28.438967                  1
8747  Female  1.764443   76.709149  24.639507                  0
5764  Female  1.580760   53.910636  21.574600                  0
5786  Female  1.649060   55.558577  20.430461                  0
3221    Male  1.645071   72.155868  26.662599                  1
9026  Female  1.626995   63.277870  23.904472                  0
7700  Female  1.704680   75.070045  25.833351                  1
978     Male  1.718385   85.678931  29.015709                  1
3714    Male  1.669815   78.868746  28.285788                  1
4136    Male  1.715590   75.448133  25.634290                  1
9251  Female  1.645487   65.435409  24.167075                  0
3115    Male  1.745825   83.692270  27.458965                  1
2217    Male  1.611855   75.181889  28.937517                  1
2891    Male  1.760784   93.475280  30.149795                  1
9574  Female  1.682740   70.242133  24.806388                  0
2014    Male  2.006568  122.465167  30.416189                  1
3761    Male  1.726294   86.347371  28.974736                  1
523     Male  1.633224   70.528897  26.440847                  1
7860  Female  1.634894   61.507115  23.011576                  0
8207  Female  1.713501   79.511390  27.080741                  1
3477    Male  1.694170   80.418449  28.018296                  1
3325    Male  1.600422   71.810884  28.036351                  1


## **Feature Engineering and Categorical Dependency - Challenge 1**
In the Adult Income dataset (found in Lab 5 folder), there is an hours_per_week attribute, which is numerical.

Write code that will do the following:

1- Transform this attribute into a categorical attribute by dividing the range of values into bins with the following lables: "0-9", "10-19", "20-29", "30-39", "40-49", "50+". Rename the new attribute as `working_hours_categories`.

2- Perform the chi2 test to find if the discretized attribute `working_hours_categories` and `gender` are correlated.

In [ ]:
#Your answer here

## **Indicator and Interaction Features- Challenge 2**
For the Adult Income Dataset:

1- Try to come up with at least one indicator feature based on threshold, multiple attributes, or multiple categorical values in an attribute

2- Try to come up with at least one meaningful interaction feature.

In [ ]:
# Your answer here